.scoutlink-profile img.scoutlink-image-lg {
  z-index: 0;
  width: 100%;
  margin-bottom: 10px;
  margin-top: -20%;
}

.scoutlink-image-profile {
  margin: -150px 10px 0 50px;
  z-index: 1;
  width: 200px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}